In [1]:
import pandas as pd
adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' : [1, 2, 3]})

In [2]:
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3' : ['T', 'F', 'T']})

In [4]:
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

## Merge adf and bdf based on adf

In [5]:
pd.merge(adf, bdf, how = 'left')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

## Merge adf and bdf based on bdf

In [7]:
pd.merge(adf, bdf, how = 'right')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

## Merge adf and bdf based on what they have in common

In [8]:
pd.merge(adf, bdf, how = 'inner')

  x1  x2 x3
0  A   1  T
1  B   2  F

## Another method for above task

In [9]:
pd.merge(adf, bdf)

  x1  x2 x3
0  A   1  T
1  B   2  F

## Union of merge for adf and bdf

In [10]:
pd.merge(adf, bdf, how = "outer")

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

## Appending Pandas Dataframe

In [11]:
pd.concat([adf, bdf], sort = True)

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
0  A  NaN    T
1  B  NaN    F
2  D  NaN    T

In [12]:
pd.concat([adf, bdf], axis = 1)

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  D  T

In [13]:
import numpy as np

df = pd.DataFrame({'a': [1, 10, 8, 11, -1],'b': list('abdce'), 'c': [1.0, 2.0, np.nan, 3.0, 4.0]})
df.nlargest(3, 'a')

    a  b    c
3  11  c  3.0
1  10  b  2.0
2   8  d  NaN

In [14]:
df

    a  b    c
0   1  a  1.0
1  10  b  2.0
2   8  d  NaN
3  11  c  3.0
4  -1  e  4.0

In [15]:
df['c'].isnull().sum()

1

In [16]:
df.isnull().sum()

a    0
b    0
c    1
dtype: int64

In [17]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])

In [18]:
df

     weekday  Person 1  Person 2  Person 3
0     Monday        12        10         8
1    Tuesday         6         6         5
2  Wednesday         5        11         7
3   Thursday         8         5         3
4     Friday        11         8         7
5   Saturday         6         9        11
6     Sunday         4        12        15

## Reshape Pandas Dataframe with Melt

In [ ]:
#Reshape Pandas Data with Melt
melted = pd.melt(df, id)